.LocationPage {
  margin: 14px auto;
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}
.LocationSearchInput {
  max-width: 360px;
  margin-bottom: 24px;

  margin: auto;
  margin-bottom: 24px;
}
