.EpisodeItem {
  max-width: 600px;
  width: 100%;
  background-color: #2b2f38;
  color: #e0e0e0;
  padding: 26px;
  border-radius: 5px;
}

.key {
  color: #ff79c6;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #44475a;
  margin: 16px -26px;
}

p {
  color: #f8f8f2;
}
